body {
  font-family: "Inter", Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  color: #1E2533;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.bg-pink {
  background: url(../design/bg-promo.png) no-repeat center top;
  background-size: 250%;
}
@media screen and (min-width: 600px) {
  .bg-pink {
    background-size: 170%;
  }
}

.header {
  padding: 23px 0;
  display: flex;
}
@media screen and (min-width: 600px) {
  .header {
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    justify-content: space-between;
  }
}

.logo {
  background: url(../design/main-logo.svg) no-repeat center;
  width: 130px;
  height: 50px;
  display: inline-block;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 54px;
  }
}

.label-burger {
  background: #FFFFFF;
  border: 0.833333px solid #FBF2EA;
  box-sizing: border-box;
  border-radius: 33.3333px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  order: 1;
}
@media screen and (min-width: 600px) {
  .label-burger {
    display: none;
  }
}

.line-burger,
.line-burger::before,
.line-burger::after {
  width: 18px;
  height: 2px;
  background: #1E2533;
  display: inline-block;
  position: relative;
}

.line-burger::before {
  content: "";
  top: -19px;
}

.line-burger::after {
  content: "";
  top: -25px;
}

.input-burger {
  display: none;
}
.input-burger:checked ~ .nav {
  transform: translateX(200px);
}
.input-burger:checked ~ .label-burger > .line-burger {
  transform: rotate(46deg);
}
.input-burger:checked ~ .label-burger > .line-burger::before {
  opacity: 0;
}
.input-burger:checked ~ .label-burger > .line-burger::after {
  transform: rotate(-93deg);
  top: -30px;
}

.nav {
  position: fixed;
  transform: translateX(410px);
  transition-duration: 0.25s;
  top: 90px;
  text-align: center;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .nav {
    position: static;
    transform: translateX(0);
    display: flex;
    align-items: center;
  }
}
.nav__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
@media screen and (min-width: 600px) {
  .nav__ul {
    display: flex;
  }
}
.nav__li {
  margin-bottom: 9px;
}
@media screen and (min-width: 600px) {
  .nav__li {
    margin-bottom: 0;
    margin-right: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__li {
    margin-right: 49px;
  }
}
@media screen and (min-width: 1400px) {
  .nav__li:last-child {
    margin-right: 117px;
  }
}
.nav-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #1E2533;
  text-decoration: none;
}
@media screen and (min-width: 900px) {
  .nav-link {
    font-size: 16px;
    line-height: 19px;
  }
}

.social-link {
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .social-link {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .social-link {
    margin-right: 75px;
  }
}
.social-link__icon {
  box-shadow: 0px 2px 0px #91665E;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.social-link--facebook {
  background: #AD8780 url(../design/nav-icon_facebook.svg) no-repeat center;
  margin-right: 3px;
}
.social-link--insta {
  background: #AD8780 url(../design/nav-icon_instagram.svg) no-repeat center;
}

.log-in {
  margin-right: 8px;
}
@media screen and (min-width: 900px) {
  .log-in {
    display: flex;
    align-items: center;
  }
}
.log-in__icon {
  width: 40px;
  height: 40px;
  border: 0.833333px solid #FBF2EA;
  box-sizing: border-box;
  border-radius: 33.3333px;
  display: inline-block;
}
.log-in--user {
  background: #FFFFFF url(../design/nav-icon_user.svg) no-repeat center;
  margin-right: 6px;
}
.log-in--cart {
  background: url(../design/nav-icon_cart.svg) no-repeat center, linear-gradient(90deg, #FC8C5F 0%, #FA7846 100%), #C4C4C4;
}
.log-in__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1E2533;
  display: none;
}
@media screen and (min-width: 900px) {
  .log-in__text {
    display: block;
    margin: 0 16px 0 10px;
  }
}
.log-in__select {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #232937;
  opacity: 0.8;
  display: none;
}
@media screen and (min-width: 900px) {
  .log-in__select {
    display: block;
  }
}

.breadcrumbs__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.breadcrumbs--activ {
  color: #FA7846;
}

.promo {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;
}
@media screen and (min-width: 600px) {
  .promo {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media screen and (min-width: 900px) {
  .promo {
    align-items: center;
    background: url(../design/arrow-up.svg) no-repeat 20% 98%;
  }
}
.promo__img-girl {
  width: 64%;
  height: auto;
  align-self: end;
}
@media screen and (min-width: 600px) {
  .promo__img-girl {
    width: 45%;
  }
}
.promo__offer {
  background: url(../design/arrow-down.svg) no-repeat 55% 40%;
  position: absolute;
  top: 100px;
}
@media screen and (min-width: 600px) {
  .promo__offer {
    top: 125px;
    right: 300px;
  }
}
@media screen and (min-width: 900px) {
  .promo__offer {
    background: none;
    top: 330px;
    right: 405px;
  }
}
@media screen and (min-width: 1200px) {
  .promo__offer {
    top: 415px;
    right: 565px;
  }
}
@media screen and (min-width: 1400px) {
  .promo__offer {
    top: 430px;
    right: 705px;
  }
}
.promo__present {
  width: 50%;
}
.promo__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .promo__info {
    align-items: flex-start;
  }
}
.promo__title {
  font-family: "Trajan Pro 3";
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  max-width: 330px;
  text-align: center;
  margin-bottom: 18px;
}
@media screen and (min-width: 600px) {
  .promo__title {
    max-width: max-content;
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .promo__title {
    font-size: 50px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .promo__title {
    font-size: 60px;
    line-height: 64px;
  }
}
.promo__ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .promo__ul {
    align-items: flex-start;
  }
}
.promo__li {
  list-style: none;
  margin-bottom: 18px;
  padding-left: 30px;
  position: relative;
}
.promo__li:last-child {
  margin-bottom: 35px;
}
.promo__li::before {
  content: url(../design/promo-ul-icon.svg);
  position: absolute;
  left: 0;
  bottom: -3px;
}
.promo__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
@media screen and (min-width: 1200px) {
  .promo__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1400px) {
  .promo__text {
    font-size: 20px;
  }
}
.promo--hidden {
  display: none;
}
@media screen and (min-width: 900px) {
  .promo--hidden {
    display: inline-block;
  }
}
.promo--orange {
  font-weight: 600;
  color: #FA7846;
}

.offer__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  max-width: 125px;
}
@media screen and (min-width: 900px) {
  .offer__text {
    font-weight: 400;
    font-size: 16px;
    max-width: 209px;
    line-height: 19px;
  }
}

.order-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #FC8C5F 0%, #FA7846 100%);
  box-shadow: 0px 18.4892px 46.223px -4.6223px rgba(250, 120, 70, 0.25), 0px 2.77338px 0px #E87145;
  border-radius: 7.39568px;
  padding: 20px 70px;
  text-decoration: none;
  display: block;
}
.order-btn--hidden {
  display: none;
}
@media screen and (min-width: 900px) {
  .order-btn {
    padding: 15px 80px;
  }
}

/*# sourceMappingURL=style.css.map */
